<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">BabaCoolCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">Proposer votre trajet</a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Se déconneter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
            </li>
            <li>
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
